[defaults]
# Default inventory file
inventory=inventory.yml

# Default SSH options
remote_user=root
host_key_checking=False

# Silence python warnings and ansible skipping messages
interpreter_python=/usr/bin/python3
display_skipped_hosts=False
stdout_callback=default